; =====================================================
; ================  FIXED ITEM SPAWNS  ================
; =====================================================
filter:
{
		"classname" "prop_physics"
		"model" "models/props_foliage/tree_trunk_fallen.mdl"
}
{
		"classname" "prop_physics"
		"model" "models/props_interiors/bench01a.mdl"
}
{
		"classname" "weapon_first_aid_kit_spawn"
}
{
		"classname" "weapon_item_spawn"
}
{
		"classname" "weapon_adrenaline_spawn"
}
{
		"classname" "weapon_pain_pills_spawn"
}

; =====================================================
; ===============  PILL CABINET TWEAK  ================
; =====================================================
; --- set pill cabs to have a max of 2 pills

modify:
{
	match:
	{
		"model" "models/props_interiors/medicalcabinet02.mdl"
	}
	replace:
	{
		"HealthCount" "4"
	}
}

; =====================================================
add:
{
		"classname" "weapon_ammo_spawn"
		"origin" "8353 -8984 297"
		"spawnflags" "2"
		"solid" "6"
		"disableshadows" "1"
		"count" "5"
		"angles" "0 0 0"
}
{
		"origin" "10617.31 -7578.07 -47"
		"angles" "0 0 0"
		"classname" "weapon_adrenaline"
}
{
		"classname" "weapon_ammo_spawn"
		"origin" "11616.7 -9051.7 -78"
		"spawnflags" "2"
		"solid" "6"
		"disableshadows" "1"
		"count" "5"
		"angles" "0 0 0"
}
{
		"origin" "10791.03 -7561.19 -25"
		"angles" "0 0 0"
		"classname" "weapon_adrenaline"
}
{
		"origin" "10883.44 -5980.09 -25"
		"angles" "0 0 0"
		"classname" "weapon_pain_pills"
}
{
		"origin" "11031.175 -5792.351 -50"
		"angles" "0 0 0"
		"classname" "weapon_adrenaline"
}
{
		"origin" "11156 -4172 -15"
		"angles" "0 0 0"
		"classname" "weapon_adrenaline"
}
{
		"classname" "weapon_ammo_spawn"
		"origin" "10298 -4096 -58"
		"solid" "6"
		"model" "models/props/terror/ammo_stack.mdl"
		"disableshadows" "1"
		"count" "5"
		"angles" "0 0 0"
}

; =====================================================
; ============  PROMOD NOTHITTABLE THING  =============
; =====================================================
add:
{
    "origin" "7659.43 -11670.21 420"
    "solid" "6"
    "model" "models/props_buildings/barn_steps.mdl"
    "disableshadows" "1"
    "angles" "0 0 0"
    "classname" "prop_dynamic"
	"rendercolor" "255 0 0"
}
; -- block for tankfight
;{
;	"origin" "10866.381 -9063.079 20"
;	"model" "models/props_interiors/stair_metal_02.mdl"
;	"disableshadows" "1"
;	"solid" "6"
;	"angles" "0 0 0"
;	"classname" "prop_dynamic"
;}
{
    "origin" "10600.719 -8881.906 -9"
    "model" "models/props_vehicles/airport_baggage_cart2.mdl"
    "disableshadows" "1"
	"solid" "6"
    "angles" "0 0 0"
    "classname" "prop_physics"
}
{
    "origin" "11132.02 -8056.821 -12"
    "model" "models/props_urban/fence_gate002_256.mdl"
    "disableshadows" "1"
	"solid" "6"
    "angles" "0 0 0"
    "classname" "prop_dynamic"
}
{
    "origin" "11046.288 -7747.938 -12"
    "model" "models/props_urban/fence_gate002_256.mdl"
    "disableshadows" "1"
	"solid" "6"
    "angles" "0 90 0"
    "classname" "prop_dynamic"
}

; =====================================================
; ============  PROMOD HITTABLE THING  =============
; =====================================================
add:
{
	"origin" "9742.57 -8209.32 300"
	"model" "models/props_vehicles/cara_82hatchback_wrecked.mdl"
	"disableshadows" "1"
    "angles" "0 60 0"
	"classname" "prop_physics"
	"rendercolor" "255 255 255"
}
{
    "origin" "10450.307 -8018.797 -55"
    "model" "models/props_vehicles/train_engine_military.mdl"
    "disableshadows" "1"
	"solid" "6"
    "angles" "0 0 0"
    "classname" "prop_physics_override"
}
;{
;    "origin" "10447.857 -5322.65 -55"
;    "model" "models/props_vehicles/train_engine_military.mdl"
;    "disableshadows" "1"
;	"solid" "6"
;    "angles" "0 0 0"
;    "classname" "prop_physics_override"
;}


; =====================================================
; ================  EXPLOITS BLOCKED  =================
; =====================================================

add:
; --- block skipping event by jumping fence and going around house
{
	; invisible block above fence
	"origin" "11432 -4545 54"
	"mins" "-186 -13 -176"
	"maxs" "186 13 176"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}
; --- block strafe jumping around saferoom on bridge to ledge-hang out of map
{
	; invisible block on side of train car
	"origin" "10230 -486 154"
	"mins" "-70 -6 -218"
	"maxs" "70 6 218"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}

; =====================================================
; ================= NON-RESTRICTIVE ===================
; =====================================================
add:
; ----------- make area around train building (other side) more dangerous
{
    ; longnose truck
    ;"solid" "6"
	"targetname" "WTFc12m4TRUCK_L"
    "origin" "11760 -8400 -83"
    "angles" "1 0 0"
    "model" "models/props_vehicles/longnose_truck.mdl"
    "classname" "prop_physics"
    "rendercolor" "50 50 120"
}
{
    ; longnose truck -- glass
    ;"solid" "6"
	"parentname" "WTFc12m4TRUCK_L"
    "origin" "11760 -8400 -83"
    "angles" "1 0 0"
    "model" "models/props_vehicles/longnose_truck_glass.mdl"
    "classname" "prop_car_glass"
}

; ----------- final bit:
{
    ; train - tank
    "solid" "6"
    "origin" "10486 -1812 -64"
    "angles" "0 89.5 0"
    "model" "models/props_vehicles/train_tank.mdl"
    "classname" "prop_dynamic"
}
; ---
{
    ; train - boxcar
    "solid" "6"
    "origin" "10421 -1132 -64"
    "angles" "0 92 0"
    "model" "models/props_vehicles/train_box_small.mdl"
    "classname" "prop_dynamic"
}
; =====================================================
