; =====================================================
; ================  FIXED ITEM SPAWNS  ================
; =====================================================
filter:
{
		"classname" "prop_physics"
		"model" "models/props_foliage/tree_trunk_fallen.mdl"
}
{
		"classname" "weapon_first_aid_kit_spawn"
}
{
		"classname" "weapon_item_spawn"
}
{
		"classname" "weapon_adrenaline_spawn"
}
{
		"classname" "weapon_pain_pills_spawn"
}

; =====================================================
; ============  PROMOD HITTABLE THING  =============
; =====================================================
add:
{
	"targetname" "WTFc3m1Van"
	"origin" "-12255.063 9966.781 165"
	"angles" "0 180 0"
	"model" "models/props_vehicles/van.mdl"
	"rendercolor" "255 0 0"
	"classname" "prop_physics"
}
{
    "parentname" "WTFc3m1Van"
	"origin" "-12255.063 9966.781 165"
	"angles" "0 180 0"
	"model" "models/props_vehicles/van_glass.mdl"
	"classname" "prop_car_glass"
}
{
    ; longnose truck
    ;"solid" "6"
	"targetname" "WTFc3m1TRUCK_L"
    "origin" "-11945 8795 163"
    "angles" "1 0 0"
    "model" "models/props_vehicles/longnose_truck.mdl"
    "classname" "prop_physics"
    "rendercolor" "255 0 0"
}
{
    ; longnose truck -- glass
    ;"solid" "6"
	"parentname" "WTFc3m1TRUCK_L"
    "origin" "-11945 8795 163"
    "angles" "1 0 0"
    "model" "models/props_vehicles/longnose_truck_glass.mdl"
    "classname" "prop_car_glass"
}

; =====================================================
; ============  PROMOD NOTHITTABLE THING  =============
; =====================================================
add:
; --- block right 3fence 
;{
;    "origin" "-1188.077 5721.858 144"
;    "model" "models/props_urban/fence_gate001_256.mdl"
;    "disableshadows" "1"
;	"solid" "6"
;    "angles" "0 0 0"
;    "classname" "prop_dynamic"
;}
;{
;    "origin" "-1188.373 5657.827 144"
;    "model" "models/props_urban/fence_gate001_256.mdl"
;    "disableshadows" "1"
;	"solid" "6"
;    "angles" "0 0 0"
;    "classname" "prop_dynamic"
;}
;{
;    "origin" "-1188.170 5785.889 144"
;    "model" "models/props_urban/fence_gate001_256.mdl"
;    "disableshadows" "1"
;	"solid" "6"
;    "angles" "0 0 0"
;    "classname" "prop_dynamic"
;}
{
    "origin" "-1590.22 6033.34 135"
    "model" "models/props_urban/fence_gate001_256.mdl"
    "disableshadows" "1"
	"solid" "6"
    "angles" "-90 0 0"
    "classname" "prop_dynamic"
}
; --- right 1barre
{
    "origin" "-1338.896 5720.561 180"
    "model" "models/props_urban/highway_barrel001.mdl"
    "disableshadows" "1"
	"solid" "6"
    "angles" "0 0 0"
    "classname" "prop_dynamic"
}
; --- block ladder 1fence 
{
    "origin" "-594.03 6625 135"
    "model" "models/props_urban/fence_gate001_256.mdl"
    "disableshadows" "1"
	"solid" "6"
    "angles" "90 0 0"
    "classname" "prop_dynamic"
}

; =====================================================

add:
{
		"origin" "-789.2 7695.04 150"
		"angles" "0 0 0"
		"classname" "weapon_adrenaline"
}
{
		"origin" "-980.03 5072.66 185"
		"angles" "0 0 0"
		"classname" "weapon_pain_pills"
}
{
		"classname" "weapon_hunting_rifle_spawn"
		"ammo" "60"
		"origin" "-10590 9025 245"
		"angles" "0 0 0"
}

; =====================================================
; ================  EXPLOITS BLOCKED  =================
; =====================================================
; -- updated (exploits v.29): 2013-02-11 - 17:07
add:
; --- block using fence/ledge to get off map at start
{
    ; invisible block above fence opening to behind starting area
    "origin" "-11084 7220 428"
    "mins" "-4 -124 -155"
    "maxs" "4 124 155"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- block climbing railroad crossing pole
{
    ; invisible block on railroad crossing pole
    "origin" "-11886 10495 482"
    "mins" "-20 -19 -308"
    "maxs" "20 19 308"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- block off corner that SI can become unteleportably stuck
{
    ; invisible block inside corner by tank
    "origin" "-10754 8610 216"
    "mins" "-62 -58 -56"
    "maxs" "62 58 56"
    "initialstate" "1"
    "BlockType" "2"
    "classname" "env_physics_blocker"
}
; --- block roof of jones & son building
{
    ; invisible block above building roof
    "origin" "-8304 7216 628"
    "mins" "-276 -296 -396"
    "maxs" "276 296 396"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- block jesus spots on sections of the docks
{
    ; invisible block by pier
    "origin" "-5391 6772 -48"
    "mins" "-79 -20 -72"
    "maxs" "79 20 72"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
{
    ; invisible block by left post
    "origin" "-5379 6628 -5"
    "mins" "-5 -8 -46"
    "maxs" "5 8 46"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
{
    ; invisible block by right post
    "origin" "-5379 6372 -5"
    "mins" "-4 -8 -46"
    "maxs" "4 8 46"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- block roof of lower house after ferry
{
    ; invisible block
    "origin" "-2168 8502 590"
    "mins" "-272 -6 -434"
    "maxs" "272 6 434"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- block roof of upper house after ferry
{
    ; invisible block
    "origin" "-824 7537 652"
    "mins" "-8 -199 -372"
    "maxs" "8 199 372"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- block top of upper level overhead section
{
    ; invisible block above overhead (front)
    "origin" "-1027 5272 648"
    "mins" "-95 -8 -376"
    "maxs" "95 8 376"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
{
    ; invisible block above overhead (back)
    "origin" "-1027 4607 648"
    "mins" "-95 -5 -376"
    "maxs" "95 5 376"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
{
    ; invisible block above overhead (left)
    "origin" "-936 5192 648"
    "mins" "-4 -72 -376"
    "maxs" "4 72 376"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
{
    ; invisible block above overhead (right)
    "origin" "-1118 5192 648"
    "mins" "-4 -72 -376"
    "maxs" "4 72 376"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; =====================================================


; =====================================================
; ===================  GLITCH FIX  ====================
; =====================================================
modify:
; --- fix weapon spawning under the map at 80% of map
{
    match:
    {
        "hammerid" "2690476"
    }
    replace:
    {
        "origin" "-2336 3196 10"
    }
}
; =====================================================


; =====================================================
; ================  NUISANCE CHANGES  =================
; =====================================================
add:
; --- block off corner that SI can become unteleportably stuck
{
    ; invisible block inside corner by tank
    "origin" "-10754 8610 216"
    "mins" "-62 -58 -56"
    "maxs" "62 58 56"
    "initialstate" "1"
    "BlockType" "2"
    "classname" "env_physics_blocker"
}
; =====================================================


; =====================================================
; ================= NON-RESTRICTIVE ===================
; =====================================================
add:
; --------- open area fix for tankfight, area on left side right after ferry
{
    ; large bush near water
    "targetname" "tabbernaut_los"
    "solid" "6"
    "origin" "-4000 8300 0"
    "angles" "0 90 0"
    "model" "models/props_foliage/swamp_shrubwall_block_512_deep.mdl"
    "classname" "prop_dynamic"
}
{
    ; smaller bushes near center - a
    "targetname" "tabbernaut_los"
    "solid" "6"
    "origin" "-3260 8660 -10"
    "angles" "0 90 0"
    "model" "models/props_foliage/swamp_shrubwall_block_128_deep.mdl"
    "classname" "prop_dynamic"
}
{
    ; smaller bushes near center - a
    "targetname" "tabbernaut_los"
    "solid" "6"
    "origin" "-3360 8760 -10"
    "angles" "0 140 0"
    "model" "models/props_foliage/swamp_shrubwall_block_128_deep.mdl"
    "classname" "prop_dynamic"
}
{
    ; large bush near center / tree
    "targetname" "tabbernaut_los"
    "solid" "6"
    "origin" "-2900 7950 -25"
    "angles" "0 -30 0"
    "model" "models/props_foliage/swamp_shrubwall_block_512_deep.mdl"
    "classname" "prop_dynamic"
}
{
    ; smaller bush near wheelbarrow
    "targetname" "tabbernaut_los"
    "solid" "6"
    "origin" "-3700 9360 -10"
    "angles" "0 40 0"
    "model" "models/props_foliage/swamp_shrubwall_block_128_deep.mdl"
    "classname" "prop_dynamic"
}
; =====================================================