; =====================================================
; ================  EXPLOITS BLOCKED  =================
; =====================================================
; -- updated (exploits v.29): 2013-02-11 - 17:07
add:
; --- block saferoom point-of-no-return permanently after finale start
{
    ; invisible block over fence (starts disabled)
    "targetname" "block_pointofnoreturn"
    "origin" "-4093 7012 140"
    "mins" "0 0 0"
    "maxs" "24 256 256"
    "initialstate" "0"
    "BlockType" "1"
    "classname" "env_player_blocker"
}
modify:
; <spawn invisible block over fence on finale start>
{
    match:
    {
        ; finale start button
        "targetname" "radio"
    }
    insert:
    {
        "UseStart" "block_pointofnoreturnEnable01"
	}
	delete:
    {
        "UseStart" "prop_burgertank_signSetAnimationrotate01"
		"UseStart" "prop_burgertank_signSkin101"
    }
}
modify:
{
    match:
    {
        "hammerid" "2854909"
    }
    replace:
    {
        ; just enable the alarm by default on mapspawn
        "OnMapSpawn" "relay_caralarm_on-car5Trigger0-1"
    }
}
modify:
{
	match:
	{
		"targetname" "caralarm_car1-car5"
	}
	insert:
	{
		; "OnCarAlarmStart" "promod_tankSpawnZombie0-1"
		"OnCarAlarmEnd" "promod_tankSpawnZombie0-1"
	}
}
add:
{
	"targetname" "promod_tank"
	"origin" "-3960 8000 200"
	"population" "tank"
	"offer_tank" "1"
	"angles" "0 0 0"
	"classname" "info_zombie_spawn"
}
modify:
{
    match:
    {
        "targetname" "relay_panicevent"
    }
    delete:
    {
        "UseStart" "prop_burgertank_signSetAnimationrotate01"
    }
}
add:
; --- block broken fence frame corner to prevent camping one way drop
{
    ; invisible block above broken fence frame
    "origin" "-4108 6968 524"
    "mins" "-12 -40 -324"
    "maxs" "12 40 324"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_player_blocker"
}
; --- block jump on flatnose truck to get back over point of no return
{
    ; invisible block over truck front
    "origin" "-4800 7242 230"
    "mins" "0 -110 0"
    "maxs" "68 0 1000"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_player_blocker"
}
{
    ; invisible block along top of trailer
    "origin" "-4632 7208 272"
    "angles" "0 -35 0"
    "mins" "0 -100 0"
    "maxs" "540 8 1000"
    "boxmins" "0 -100 0"
    "boxmaxs" "540 8 1000"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- block getting tank punched to the opposite building roof
{
    ; invisible block above building
    "origin" "-6000 8240 936"
    "mins" "-208 -176 -600"
    "maxs" "208 176 600"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}

; =====================================================
; ================  FIXED ITEM SPAWNS  ================
; =====================================================
filter:
{
		"classname" "weapon_item_spawn"
}
{
		"classname" "weapon_adrenaline_spawn"
}
{
		"classname" "weapon_pain_pills_spawn"
}
{	
		"classname" "weapon_first_aid_kit_spawn"
}
{	
		"hammerid" "2855460"
}
{	
		"hammerid" "2855469"
}
{	
	    "hammerid" "2856377"
}

{	
		"hammerid" "2849194"
}
{	
		"hammerid" "2849203"
}
{	
		"hammerid" "2850111"
}

{	
		"hammerid" "2850660"
}
{	
		"hammerid" "2850669"
}
{	
		"hammerid" "2851577"
}

{	
		"hammerid" "2852260"
}
{	
		"hammerid" "2852269"
}
{	
		"hammerid" "2853177"
}

{	
		"hammerid" "1889901"
}

; =====================================================
add:
{
		"classname" "weapon_pistol_magnum"
		"origin" "-5646 8641  161"
		"angles" "0 0 0"
}
{
		"classname" "weapon_melee_spawn"
		"origin" "-5646 8641  161"
		"angles" "0 80.5 90"
		"count" "1"
		"melee_weapon" "frying_pan"
		"model" "models/weapons/melee/w_frying_pan.mdl"
		"spawnflags" "2"
		"disableshadows" "1"
}
{
		"classname" "weapon_melee_spawn"
		"origin" "-5646 8641 161"
		"angles" "0 0 0"
		"count" "1"
		"melee_weapon" "frying_pan,crowbar"
		"model" "models/weapons/melee/w_frying_pan.mdl"
		"spawnflags" "2"
		"disableshadows" "1"
}
{
		"origin" "-5646 8641 161"
		"angles" "0 0 0"
		"classname" "weapon_adrenaline"
}
{
		"origin" "-5646 8641 151"
		"angles" "0 0 0"
		"classname" "weapon_adrenaline"
}

; =====================================================
; ================  NUISANCE CHANGES  =================
; =====================================================
add:
; --- block SI/Tank getting stuck in container near saferoom (confogl only)
{
	; concrete pipe
	"solid" "6"
	"origin" "-6583 6116 164"
	"angles" "0 0 0"
	"model" "models/props_pipes/concrete_pipe001a.mdl"
	"classname" "prop_dynamic"
}
{
	; concrete pipe
	"solid" "6"
	"origin" "-6583 6030 164"
	"angles" "0 0 0"
	"model" "models/props_pipes/concrete_pipe001a.mdl"
	"classname" "prop_dynamic"
}
{
	; concrete pipe
	"solid" "6"
	"origin" "-6585 5934 164"
	"angles" "0 0 0"
	"model" "models/props_pipes/concrete_pipe001a.mdl"
	"classname" "prop_dynamic"
}
{
	; concrete pipe
	"solid" "6"
	"origin" "-6585 5840 164"
	"angles" "0 0 0"
	"model" "models/props_pipes/concrete_pipe001a.mdl"
	"classname" "prop_dynamic"
}
; =====================================================