; =====================================================
; ================  FIXED ITEM SPAWNS  ================
; =====================================================
filter:
{
		"classname" "prop_physics"
		"model" "models/props_junk/trashbin01a.mdl"
}
{
		"classname" "prop_physics"
		"model" "models/props_street/trashbin01.mdl"
}
{
		"classname" "prop_physics"
		"model" "models/props_interiors/table_motel.mdl"
}
{
		"classname" "prop_physics"
		"model" "models/props_interiors/chair_thonet.mdl"
}
{
		"classname" "prop_physics"
		"model" "models/props_urban/round_table001.mdl"
}
{
		"classname" "prop_physics"
		"model" "models/props_urban/plastic_chair001.mdl"
}
{
		"classname" "weapon_first_aid_kit_spawn"
}
{
		"classname" "weapon_item_spawn"
}
{
		"classname" "weapon_adrenaline_spawn"
}
{
		"classname" "weapon_pain_pills_spawn"
}
{
	; car glass
	"hammerid" "1953908"
}
{
	; car
	"hammerid" "1953912"
}

; =====================================================
; ============  PROMOD HITTABLE THING  =============
; =====================================================
; can't set

; =====================================================
add:
{
		"classname" "weapon_hunting_rifle_spawn"
		"ammo" "60"
		"origin" "304 -372 -324"
		"angles" "0 0 0"
}
{
		"classname" "weapon_ammo_spawn"
		"origin" "-792.496 -2254.194 -375"
		"spawnflags" "2"
		"solid" "6"
		"disableshadows" "1"
		"count" "5"
		"angles" "0 0 0"
}

; =====================================================
; ============  PROMOD NOTHITTABLE THING  =============
; =====================================================
add:
; -- startBARRE
{
    "origin" "984.74 -363.57 -345"
    "model" "models/props_urban/highway_barrel001.mdl"
    "disableshadows" "1"
	"solid" "6"
    "angles" "0 0 0"
    "classname" "prop_dynamic"
}
; -- block to tank figt
{
   "origin" "-593 124 -372"
    "model" "models/props_urban\gate_wall003_128.mdl"
    "disableshadows" "1"
	"solid" "6"
    "angles" "0 0 0"
    "classname" "prop_dynamic"
}
{
   "origin" "-593 252 -372"
    "model" "models/props_urban\gate_wall003_128.mdl"
    "disableshadows" "1"
	"solid" "6"
    "angles" "0 0 0"
    "classname" "prop_dynamic"
}
{
   "origin" "-593 332 -372"
    "model" "models/props_urban\gate_wall003_32.mdl"
    "disableshadows" "1"
	"solid" "6"
    "angles" "0 0 0"
    "classname" "prop_dynamic"
}
{
	"origin" "-544.403 387.595 -340"
	"model" "models/props_update\c11m1_plywood.mdl"
	"disableshadows" "1"
	"solid" "6"
	"angles" "0 0 0"
	"classname" "prop_dynamic"
}
;{
;	"origin" "-614 388 -372"
;	"model" "models/props_urban/ice_machine001.mdl"
;	"disableshadows" "1"
;	"solid" "6"
;	"angles" "0 -90 0"
;	"classname" "prop_dynamic"
;}
;{
;	"origin" "-576 418 -372"
;	"model" "models/props_urban\chimney002.mdl"
;	"disableshadows" "1"
;	"solid" "6"
;	"angles" "0 0 0"
;	"classname" "prop_dynamic"
;}
;{
;	"origin" "-576 418 -340"
;	"model" "models/props_urban\chimney001.mdl"
;	"disableshadows" "1"
;	"solid" "6"
;	"angles" "0 0 0"
;	"classname" "prop_dynamic"
;}
;{
;    "origin" "-710 -1099.034 -376"
;    "model" "models/props_fortifications/barricade001_128_reference.mdl"
;    "disableshadows" "1"
;	"solid" "6"
;    "angles" "0 90 0"
;    "classname" "prop_dynamic"
;}
{
    "origin" "-1126.762 -792.341 -376"
    "model" "models/props_fortifications/barricade001_128_reference.mdl"
    "disableshadows" "1"
	"solid" "6"
    "angles" "0 90 0"
    "classname" "prop_dynamic"
}
{
    "origin" "-1757.934 -1599.1 -376"
    "model" "models/props_fortifications/barricade001_128_reference.mdl"
    "disableshadows" "1"
	"solid" "6"
    "angles" "0 -90 0"
    "classname" "prop_dynamic"
}
; -- block to saferoom
{
	"classname" "prop_dynamic"
	"angles" "0 180 0"
	"disableshadows" "1"
	"model" "models/props_fortifications/barricade001_128_reference.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-3572.873 -1196.793 -380"
}
{
	"classname" "prop_dynamic"
	"angles" "0 180 0"
	"disableshadows" "1"
	"model" "models/props_fortifications/barricade001_128_reference.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-3569.119 -1080.901 -380"
}
{
	"classname" "prop_dynamic"
	"angles" "0 180 0"
	"disableshadows" "1"
	"model" "models/props_fortifications/barricade001_128_reference.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-3566.494 -975.087 -380"
}
{
	"classname" "prop_dynamic"
	"angles" "0 135 0"
	"disableshadows" "1"
	"model" "models/props_fortifications/barricade001_128_reference.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-3512.163 -864.99 -380"
}
; -- saferoom2BUS
{
    "origin" "-3515.002 -591.686 -380"
    "model" "models/props_vehicles/bus01.mdl"
    "disableshadows" "1"
	"solid" "6"
    "angles" "0 110 0"
    "classname" "prop_dynamic"
}
{
    "origin" "-3532.927 -121.376 -380"
    "model" "models/props_vehicles/bus01.mdl"
    "disableshadows" "1"
	"solid" "6"
    "angles" "0 100 0"
    "classname" "prop_physics_override"
}

; =====================================================
; ================  EXPLOITS BLOCKED  =================
; =====================================================


; -- updated (exploits v.29): 2013-02-11 - 17:07
add:
; --- block hang-climbing fences to get on roofs
{
    ; invisible block above left fence
    "origin" "586 -142 32"
    "angles" "0 28 0"
    "mins" "-8 -48 -262"
    "boxmins" "-8 -48 -262"
    "maxs" "8 48 262"
    "boxmaxs" "8 48 262"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
{
    ; invisible block above right fence
    "origin" "606 43 -47"
    "angles" "0 -15 0"
    "mins" "-4 -25 -187"
    "boxmins" "-4 -25 -187"
    "maxs" "4 25 187"
    "boxmaxs" "4 25 187"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- block cheap hunter-jesus spot under a sign near first fence
{
    ; invisible block inside fence cubby hole
    "origin" "385 64 -313"
    "mins" "-15 -22 -63"
    "maxs" "15 22 63"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- block survivors getting onto balconies and onto rooftops
{
    ; invisible block above left side balcony
    "origin" "-720 -128 -140"
    "mins" "-48 -192 -76"
    "maxs" "48 192 76"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
{
    ; invisible block above right side balcony
    "origin" "-1136 -512 196"
    "mins" "-48 -256 -253"
    "maxs" "48 256 253"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- block survivors bhopping over metal fence to shortcut
{
    ; invisible block over metal fence
    "origin" "-1740 -1284 -134"
    "mins" "-32 -12 -82"
    "maxs" "32 12 82"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- block balconies in street corner (zombie-jump accessible)
{
    ; invisible block (first balcony)
    "origin" "-737 -2048 -208"
    "mins" "0 0 0"
    "maxs" "65 256 150"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_player_blocker"
}
{
    ; invisible block (second balcony)
    "origin" "-687 -2304 -176"
    "mins" "-518 -64 0"
    "maxs" "0 0 320"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_player_blocker"
}
; --- block jesus spot on telephone
{
    ; invisible block above telephone
    "origin" "-1731 -2370 -224"
    "mins" "-37 -14 -153"
    "maxs" "37 14 153"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; =====================================================


; =====================================================
; ================  NUISANCE CHANGES  =================
; =====================================================
add:
; --- block pistol/melee falling into water through crack behind table
{
    ; invisible block along crack
    "origin" "676 662 -486"
    "mins" "-4 -150 -4"
    "maxs" "4 150 4"
    "boxmins" "-4 -150 -4"
    "boxmaxs" "4 150 4"
    "initialstate" "1"
    "BlockType" "4"
    "classname" "env_physics_blocker"
}
; --- prevent SI getting stuck in small hallway
{
    ; wooden plank propped up in hallway
    "solid" "6"
    "origin" "-2176 -2538 -320"
    "angles" "0 0 35"
    "model" "models/props_swamp/plank001b_192.mdl"
    "disableshadows" "1"
    "classname" "prop_dynamic"
}
; =====================================================