; =====================================================
; ============  END PILL/ITEM SPAWN REMOVAL ===========
; =====================================================
filter:
{
    "hammerid" "1576953"
}
{
    "hammerid" "1576949"
}
{
    "hammerid" "1576945"
}
{
    "hammerid" "1576935"
}
{
		"classname" "weapon_first_aid_kit_spawn"
}

; =====================================================
; =====================================================
; ============  PROMOD NOTHITTABLE THING  =============
; =====================================================
add:
{
    "origin" "-2370 -9537 0"
    "model" "models/props_vehicles/airport_baggage_cart2.mdl"
    "disableshadows" "1"
	"solid" "6"
    "angles" "0 90 0"
    "classname" "prop_dynamic"
}

; =====================================================
; =====================================================
; ============  PROMOD HITTABLE THING  =============
; =====================================================
add:
{
    "origin" "-2506.7 -8774 45"
    ;"solid" "6"
    "model" "models/props_junk/dumpster.mdl"
    "disableshadows" "1"
    "angles" "0 0 0"
    "classname" "prop_physics"
}

; =====================================================

add:
{
		"classname" "weapon_hunting_rifle_spawn"
		"ammo" "60"
		"origin" "-9036 -10716 68"
		"angles" "0 0 0"
}
{
		"classname" "weapon_ammo_spawn"
		"origin" "-5265 -9974 -3"
		"spawnflags" "2"
		"solid" "6"
		"disableshadows" "1"
		"count" "5"
		"angles" "0 0 0"
}

; =====================================================
; ================  EXPLOITS BLOCKED  =================
; =====================================================
; -- updated (exploits v.29): 2013-02-11 - 17:07
add:
; --- block jumps before event area using truck
{
    ; invisible block on top of truck trailer
    "origin" "156 -6648 -22"
    "mins" "0 0 0"
    "maxs" "530 126 333"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
{
    ; invisible block on awning
    "origin" "28 -6652 -25"
    "mins" "0 -770 0"
    "maxs" "130 0 410"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- block zombie-breakable wall until event has started
{
    ; invisible block in wall
    "targetname" "breakable_wall_blocker"
    "origin" "-2298 -6064 64"
    "mins" "-16 0 0"
    "maxs" "0 120 124"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_player_blocker"
}
; <remove after event starts>
modify:
{
    match: 
    {
        "targetname" "fire_howitzer"
    }
    insert:
    {
        "OnPressed" "breakable_wall_blockerKill0-1"
    }
}
add:
; --- block top of toll-booth (campspot)
{
    ; invisible block above toll-booth
    "origin" "-1027 -5054 172"
    "mins" "-100 0 -116"
    "maxs" "0 100 100"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; =====================================================

